*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.d-column {
    display: flex;
    flex-direction: column;
}
.d-row {
    display: flex;
    flex-direction: row;
}
.d-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 1.5rem;
}
.text-center {
    text-align: center;
}
.gap-1 {
    gap: .5rem;
}
.gap-2 {
    gap: 1rem;
}
.gap-3 {
    gap: 1.5rem;
}
.flex-wrap {
    flex-wrap: wrap;
}

body {
    min-height: 100vh;
    font-family: Lato, sans-serif;
    background: linear-gradient(to right, #ffefba, #ffffff); 
    padding: clamp(20px, 5vw, 50px) 20px 10px;
}
header {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: clamp(22px, 5vw, 2rem);
}
h2 {
    font-size: clamp(20px, 5vw, 1.5rem);
}

.container-cookies {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}
.container-cookie {
    position: relative;
    min-width: 500px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: all .3s ease-in-out;

}
.container-cookie span {
    position: absolute;
    top: .4rem;
    right: .4rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.192);
    color: rgb(121, 1, 1);
}
dl {
    display: flex;
    flex-direction: row; 
    gap: .5rem;
    width: 100%; 
    flex-wrap: wrap;
    font-size: clamp(12px, 5vw, 1rem);

}
dt {
    font-weight: bold;
    min-width: 50px;
}

dt, dd {
    word-wrap: break-word;
    overflow-wrap: break-word;
}



@media screen and (max-width: 768px) {
    .container-cookie {
        min-width: 100%;
    }
    dt, dd {
        width: 100%;
    }
    dd {
        margin-left: 1rem
    }

}