*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: "Noto Sans", Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 20px;
}

img {
  width: clamp(80px, 35vw, 350px);
  object-fit: cover;
}
header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-size: clamp(20px, 5vw, 50px);
  color: #212125;
}
h1 span {
  font-weight: 800;
  
}
.search {
  max-width: 750px;
  margin: 1em auto;
  
}
.search-result {
  max-width: 600px;
  margin: 10px auto;
  margin-top: 1.5em;
}
input {
  border: 0;
  font-size: 1.5em;
  color:#212125;
  padding: 8px;
  background-color: white;
  box-shadow: 0 3px 8px black;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  outline-color: black;
}
article {   
  margin-bottom: .5em;
  gap: 2px;
  display: flex;
  flex-direction: column;
}
article h3 {
  font-size: 1.4em;
}
article p {
  color: #3f3f45;
  font-size: .9em;
}
.error-msg {
  text-align: center;
  color: #454545;
}
.loader {
  display: none;
  justify-content: center;
}
.loader .dot {
  width: 15px;
  height: 15px;
  background: #111;
  border-radius: 55%;
  margin: 0 3px;
  animation: load 0.3s infinite ease-out alternate;
}
.dot:nth-child(2) {
  animation-delay:  0.1s;
}
.dot:nth-child(3) {
  animation-delay:  0.2s;
}
@keyframes load {
  to {
    transform: translateY(10px);
  }
}