* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    --res: calc(0.01 * 15vmin)
}
body {
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;

}
header h1, p {
    margin: clamp(10px, 5vh, 50px) 0;
}
header h1 {
    font-size: clamp(2.7em, 5vw, 75px) ;
}
header p {
    font-size: clamp(1em, 1.75em, 10em) ;
    min-height: 3rem;
}

.container-personne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personne-data {
    width: fit-content;
    height: 15rem;
    padding: 1rem 8rem 2rem 8rem;
    position: relative;
    background: rgb(37, 57, 86);
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    color: #ffffff;
    border: 3px solid rgb(0, 0, 0);
}

.personne-data img {
    top: 50%;
    left: -6rem;
    width: 12rem;
    height: 12rem;
    position: absolute;
    border-radius: 80%;
    transform: translateY(-50%);
    box-shadow: 0 0 6px rgb(9, 9, 9);
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}

i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.personne-data p {
    margin: .8rem;
}
.personne-data p span {
    display: inline-block;
    margin-bottom: 0.15rem;
}
.name {
    font-size: 2rem;
    font-weight: 700;
}


@media screen and (max-width: 900px) { 
    .container-personne{
        margin: 2.2rem auto;
        width: 85%;
    }

    .personne-data {
        height: auto;
        position: relative;
        padding: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    } 
    .personne-data img {
        top: 2rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: .5rem;
    }
    .personne-data div {
        margin-top: 8rem;
        margin-left: 0;
    }
}
