*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

.site-title {
  text-align: center;
  font-size: clamp(10px, 2vw, 20px);
  font-weight: 700;
  margin-bottom: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.container {
  width: fit-content;
  background-color: rgb(226, 233, 238);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  box-shadow: 0 0 4px black;
}
.container .site-title {
  font-size: clamp(10px, 2em, 19px);
}

form, .upd , .container-input {
  display: flex;
  align-items: center;
}
form {
  flex-direction: column;
}
.container-input {
  gap: 2rem;
  margin-bottom: 1.8rem;
}
.container-input div {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
label {
  font-size: 1.2em;
  text-align: center;
}
input {
  border: 0;
  margin: .5rem 0;
  padding: .8em;
  height: 3em;
  font-size: 1em;
  border-radius: .5rem;
}

.upd{
  margin-top: 1.8rem;
  flex-direction: column;
  gap: .5rem;
}
.upd p:first-of-type {
  font-size: 2.5em;
}
.upd p:not(:first-of-type) {
  font-size: 1.5em;
  text-align: center;
}

.button {
    padding: 1.2em;
    cursor: pointer;
    background-color: rgb(255, 192, 3);
    border-color: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.378);
    font-size: 1em;
    font-weight: 600;
} 
.button:hover {
  background-color: rgb(255, 192, 3);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.813);
} 

@media screen and (max-width: 900px) {
  .container-input  {
    display: flex;
    flex-direction: column;
    min-width: auto;
    width: 100%;
  }  
  .container-input div  {
    min-width: auto;
    width: 100%;
  }  

}
@media screen and (max-width: 355px) {
  .container {
    width: auto;
  }
}